// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// FontAwesome
@import "node_modules/font-awesome/scss/font-awesome.scss";

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Partials
@import "./partials/common";
@import "./partials/header";
@import "./partials/main";
@import "./partials/login";
@import "./partials/color";
@import "./partials/ordine";
