// Colori palette Davide

$verdescuro: #439373;
$grigioscuro: #343434;
$avorio: #fff7df;
$panna: #f4f0e2;
$marrone: #896c5c;
$verdechiaro: #b5d8ba;
$giallo: #f1c692;
$biscotto: #bc866a;
$mattone: #be541e;