// Colori palette Davide

$verdescuro: #449373;
$grigioscuro: #343434;
$avorio: #fff7df;
$panna: #f4f0e2;
$marrone: #896c5c;
$verdechiaro: #add39b;
$giallo: #f1c692;
$aranciochiaro: #ebbb57;
$biscotto: #bc866a;
$arancioscuro: #e79e43;

