
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: "Nunito";
}

body {
    width: 100vw;
    //padding-left: 30px;
    // ho messo un po di padding a sinistra per poter leggere quello che stampiamo nella parte di backend
    // -Stefano decommentare se necessario
    font-family: 'Raleway', sans-serif;
}

.prova-2 {
    background-color: cadetblue;
}
