
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: "Nunito";
}

body {
    width: 100vw;
    font-family: 'Raleway', sans-serif;
}

.prova-2 {
    background-color: cadetblue;
}
