
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: "Nunito"; 
}

body {
    width: 100vw;
    height: calc(100vh - 80px);
    background-color: white;
    //padding-left: 30px;
    // ho messo un po di padding a sinistra per poter leggere quello che stampiamo nella parte di backend
    // -Stefano decommentare se necessario
    font-family: 'Raleway', sans-serif;
}
.sfondo {
    width: 100vw;
    height: 92vh;
    background-color: white;
    background-image: url('../images/nuvola-1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-origin: border-box;
}