.space-dash{
    height: calc(100vh - 58.94px);
    background-image: url('/images/nuovo-sfondo.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.box-big-dash {
    height: calc(100vh - 58.94px);
    // background-color: rgba($color: #343434, $alpha: 0.2);
    // border-radius: 5px;
    // border-bottom-right-radius: 40px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.top-dash {
    // background-color: #439373;
    background-color: $arancioscuro;
    color: white;
    // border-top-right-radius: 5px; 
    // border-top-left-radius: 5px;   
}

.text-link-dash {
    padding: 5px;
    color: white;
    font-size: 16px;
    transition: 0.5s;
}
.text-link-dash:hover {
    color: $verdescuro;
    border-bottom: 1px solid $verdescuro;
}
.text-name-dash {
    color: $verdescuro;
    font-size: 30px;
    // text-transform: initial;
    text-transform: capitalize;
}


