.space-dash{
    margin: 0 auto;
    
}
.box-big-dash {
    height: 100%;
    background-color: rgba($color: #343434, $alpha: 0.2);
    border-radius: 5px;
    border-bottom-right-radius: 40px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.top-dash {
    background-color: #439373;
    color: white;   
}
.text-link-dash {
    color: white;
}
.text-link-dash:hover {
    color: #b5d8ba !important;
}
.text-name-dash {
    color: #f1c692;
    font-size: 30px;
    // text-transform: initial;
    text-transform: capitalize;

}




