.space {
    width: 100%;
    height: calc(100vh - 20vh);
   
}
.box-center {
    width: 90%;
    height: 100%;
    margin: 50px auto;
    background-image: url('../images/bike.png');
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: left, bottom;
    
}
.box-side-left-dash {
    // background-color: #b5d8ba;
    padding-left: 0 !important;
    padding-right: 0 !important;
    height: 100%;

}
.box-side-right-dash {
    background-color: rgba($color: #343434, $alpha: 0.2);
    border-bottom-right-radius: 40px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.top-dash-right {
    width: 100%;
    height: 10vh;
    background-color: #439373;
    color: white;
    background-image: url('../images/citta.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.link-dash {
    width: 250px;
    height: 50px;
    text-align: center;
    background-color:#b5d8ba;
    font-size: 40px;
    color: white;
    font-weight: 800;
}
