.box-logo {
    height: 100%;
    display: flex;
    align-items: center;
}
.logo {
    width: 180px;
    object-fit: cover;
}

.h-header {
    height: 8vh;
}
nav {
    height: 100%; 
}
.nome-ristorante {
    color: #e79e43 !important;
    font-size: 16px;
    font-weight: 800;
    text-transform: capitalize;
}
