.box-logo {
    height: 100%;
    display: flex;
    align-items: center;
}
.logo {
    width: 180px;
    object-fit: cover;
}
// header{
//     // position: fixed;
//     // top: 0;
//     // left: 0;
//     // background-image: linear-gradient(to right, white , 0);
//     // z-index: 999;
// }

.h-header {
    height: 8vh;
}
nav {
    height: 100%; 
}

// .space {
//     margin-top: 200px;
// }