header {
    
    background-color: aquamarine;
    .navbar {
        width: 100%;
    }
    #logo {
        font-size: 30px;
    }
    #header-searchbar {
        width: 300px;
    }
}


@media screen and (max-width: 480px) {
}