
.header {
    background-color: #b5d8ba;
    // background-color: #439373;
    border-bottom-right-radius: 20px;
    color: #343434;
    // color: white;
}

// .onde {
//     background-image: url('../images/onde.svg');
//     background-repeat: no-repeat;
//     background-position: center -20%;
//     background-size: 100%;
//     width: 100%;
//     height: 100%;
// }

.my-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
    border-bottom-right-radius: 40px;
    box-shadow: 5px 10px 18px #cfcece;
    margin-top: 100px;
    
}
.my-form {
    display: block;
    width: 100%;
    height: calc(1.6em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #896c5c;
    background-color: #f4f0e2;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 1rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.my-form:focus {
    color: #495057;
    background-color: #fff;
    border-color: #439373;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(89 145 117 / 25%);
}

.my-btn {
    color: #fff;
    background-color: #439373;
    border-color: #439373; 
    // margin-bottom: 20px;
   
}
