
.header {
    background-color: #449373;
    border-bottom-right-radius: 20px;
    color: white;
}

.my-form {
    display: block;
    width: 100%;
    height: calc(1.6em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #896c5c;
    background-color: #f4f0e2;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 1rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;  
}
.my-form:focus {
    color: #495057;
    background-color: #fff;
    border-color: #439373;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(89 145 117 / 25%);
}

.my-btn {
    color: #fff;
    background-color: #439373;
    border-color: #439373; 
    // margin-bottom: 20px;
   
}

.onde {
    width: 100vw;
    height: 100vh;
    background-image: url('/images/nuovo-sfondo.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    
}
