.big-box-sta {
    height: calc(100vh - 20vh);
    overflow-y: auto;
}
.box-chart {
    box-shadow: 5px 10px 18px #9c9b9b;
    background-color: white;
    border-radius: 10px;
}
.text-h3-stat {
    padding-top: 20px;
    padding-left: 20px;
}
.text-p-stat {
    padding-left: 20px;
}