.big-box-dish-create {
    height: 100%;
}
.header-create {
    background-color: $verdechiaro;
    border-bottom-right-radius: 20px;
    color: $verdescuro;
}
.my-card-create {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
    border-bottom-right-radius: 40px;
    box-shadow: 5px 10px 18px #cfcece;
    padding: 30px;
    margin-bottom: 20px;
}
.check {
    height: 30px;
    background-color:$aranciochiaro;
    color: white;
    padding-right:20px;
    border-radius: 5px;
    cursor: pointer;
}
[type=checkbox] { 
    position: absolute;
    opacity: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
[type=checkbox]:checked + label {
font-weight: 800;
color: $verdescuro;
cursor: pointer;

}
.btn-create-dish {
    color: #fff;
    background-color: #439373;
    border-color: #439373;
    margin: 0 auto;
}
.btn-create-dish:hover {
    color: $arancioscuro;
}
.box-btn-dish-create {
    display: flex;
    justify-content: flex-end;
}