
// body {
   
//     background-color: white;
//     background-image: url('../images/nuvola-1.png');
//     background-size: contain;
//     background-repeat: no-repeat;
//     background-position: bottom;
//     background-position: right;
// }
.overflow-create {
    width: 80%;
    height: calc(100vh - 30vh);
    margin: 0px auto;
    overflow-x: hidden;
}
.header-create {
    background-color: #b5d8ba;
    border-bottom-right-radius: 20px;
    color: #be541e;
}

.my-card-create {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    // border-radius: 0.25rem;
    border-radius: 5px;
    border-bottom-right-radius: 40px;
    box-shadow: 5px 10px 18px #cfcece;
    // margin-top: 200px;
    padding: 30px;
}
.check {
    
    height: 30px;
    background-color:#b5d8ba;
    padding-right:20px;
    border-radius: 5px;
}
[type=checkbox] { 
    position: absolute;
    opacity: 0;
    width: 20px;
    height: 20px;
 }
 
 [type=checkbox]:checked + label {
 font-weight: 800;
 color: #be541e;
 
 }

// .my-form {
//     display: block;
//     width: 100%;
//     height: calc(1.6em + 0.75rem + 2px);
//     padding: 0.375rem 0.75rem;
//     font-size: 0.9rem;
//     font-weight: 400;
//     line-height: 1.6;
//     color: #896c5c;
//     background-color: #f4f0e2;
//     background-clip: padding-box;
//     border: 1px solid #ced4da;
//     border-radius: 1rem;
//     transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    
// }
// .my-form:focus {
//     color: #495057;
//     background-color: #fff;
//     border-color: #439373;
//     outline: 0;
//     box-shadow: 0 0 0 0.2rem rgb(89 145 117 / 25%);
// }
// .my-check {
//     position: absolute;
//     margin-top: 0.3rem;
//     margin-left: -1.25rem;
// }
// .my-check:checked {
//     background-color: #fff7df;
// }
// .my-btn-link {
//     font-weight: 400;
//     color: #439373;
//     text-decoration: none;
// }
// .my-btn {
//     color: #fff;
//     background-color: #439373;
//     border-color: #439373; 
   
// }