.big-box-dish {
    height: calc(100vh - 20vh);
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}
.card-dish-index {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 250px;
    height: 550px;
    background-color:white ;
    border-radius: 5px;
    border-bottom-right-radius: 40px;
    box-shadow: 5px 10px 18px #9c9b9b;
    padding: 10px;
    margin: 20px;
}
.img-dish-index {
    display: block;
    width: 230px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    border-bottom-right-radius: 40px;
    background-color: #f4f0e2;
}
.nome-dish-index {
    font-size: 18px; 
    color: #be541e; 
    padding: 8px 0;
    // text-transform: capitalize;
 }
.p-dish-index {
    font-size: 12px;
    // padding: 3px 0;
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis;
    max-width: 200px;
     
}
.det-mod {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.btn-dish-index {
    margin: 10px;
    padding: 5px;
    border: none;
    border-color: red;
    border-radius: 3px;
    background-color:  red;
    color: #f4f0e2;
}
.link-dish-index {
    color: #439373;
    transition: 0.5s;
}
.link-dish-index:hover {
    color: #f1c692;
    text-decoration: none;
}
.btn-top-index {
    text-align: center;
    font-size: 16px;
    margin-top: 2px;
    padding: 10px 100px;
    background-color: #439373;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}
.overlay-dish-index {
    position: absolute;
    bottom: 0;
    background: rgba(189, 215, 188, 0.5);
    width: 100%;
    border-radius: 5px;
    border-bottom-right-radius: 40px;
    padding: 5px;
}
.nome-dish-index::first-letter {
    text-transform: uppercase;
}
.card-gray {
    background-color: gray;
}
.my-alert {
    width: 200px;
    position: absolute;
    color: $verdescuro;
    background-color: $verdechiaro;

}
