
.big-box-show {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card-dish-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color:white ;
    border-radius: 5px;
    border-bottom-right-radius: 40px;
    box-shadow: 5px 10px 18px #9c9b9b;
    padding: 10px;
    margin: 20px;
}
.img-dish-show {
    display: block;
    width: 230px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    border-bottom-right-radius: 40px;
    background-color: #f4f0e2;
}
.card-title {
    color: $verdescuro;
}
.text-show {
    max-width: 200px;
}
.link-dettaglio-dish {
    color: #be541e;
}
.link-dettaglio-dish:hover {
    color: #343434;
}
.nome-dish-show::first-letter {
    text-transform: uppercase;
}





